

nav{
    background-color: cornsilk;
    left: 10px;
    padding: 30px 0;
    border-radius: 12px;

    
}


li{
   
    
    list-style-type: none;
   
 
}
.h1{
    font-size: 100px ;
    color: antiquewhite;
}
.p{
    color: antiquewhite;
}




header{
    background-image: url(./back\ ground.jpg);
    background-size: cover;
    padding: 125px 0;
    text-align: center;
    height: 350px;


} 


button{
    
    text-align: center;
    background: transparent;
    border: 3px solid blue;
   
    
}


.p{
    color: white;
}

footer{
    background-color: grey;
    text-align: center;
    padding: 15px 0;
}

    font-size: 150px;


.edit{
    font-size: 100px;
    font-style: italic;
}


.cont{
    width: 100%;
    height: 450px;
}
.card1{
    float: left;
    padding: 20px;
}
.card2{
    float: right;
    padding: 20px;
}
.card3{
    float: right;
    padding: 20px;
}
.hp{
    text-align: center;
    background-color: darkgrey;
}
.photo1{
    text-align: center;
    height: px;
    width: 5px;

}
.hp{
    
    text-align: center;
}
.img{
    padding: 15px;
    margin: 0 150px;
}
.form{
    text-align: center;
    background-image: url(./street.jpg);
    background-size: cover;
    height: 600px;
}
.pu{
    color: ;
}
  

.form2{
    text-align: center;
    background-image: url(./street.jpg);
   height: 600px;
    
}
.h11{
    color: white;
}
.ppp{
    color: white;
}
.yeh{
    background: transparent;
    color: blanchedalmond;
}
.emil{
    background: transparent;
    color: antiquewhite;
}
.tex{
    background: transparent;
    color: aliceblue;
}
.sub{
background: transparent;
    margin: 0 20px;
    padding: 5px;
    
    
}
.box{
    margin: 0 10px;
    padding: 10px;
    
}

.star{
    width: 150px;
    height: 50px;
    
    margin:0 70px;
    background: none;
    border: none;
}